{% extends 'base.html' %}

{% block content %}
  {% set background_url = url_for('static', filename='images/england_background.jpg') %}

  <header>
    <h1>{% block title %}A place in England.{% endblock %}</h1>
    <p>Generate random English places.</p>
  </header>


  <div class="grid-row">
    <div class="placename-container">
      <div class="placename">
        <p>Welcome to</p>
        <h2>{{ placename }}</h2>
        <p>Please drive carefully</p>
      </div>
    </div>
  </div>

  <form method="get">
    <div class="grid-row">
      <div class="information-sign--wrapper">
        <div class="information-sign--inner">
          <button class="information-sign" type="submit">Generate another</button>
        </div>
      </div>

      <div>
        <input type="checkbox" id="rude-places" name="rude_places" value="true" {% if rude_places %}checked{% endif %}>
        <label for="rude-places">Toggle rude placenames</label>
      </div>
    </div>
  </form>
{% endblock %}
