body {
  background-size: cover;
}

.body-content {
  padding: 20px 20px 80px 20px;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 20px;
}

header h1 {
  display: inline-block;

  font-size: 36px;
  font-weight: 600;
  color: #000;
}

header p {
  display: inline-block;
  font-size: 36px;
  font-weight: 600;
  color: #000;
  margin-left: 20px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4vw;
}

.placename-container {
  --border-width: 24px;
  --border-radius: 36px;
  --inner-radius: calc(var(--border-radius) - var(--border-width));

  background: #000;
  border-radius: var(--border-radius);
  padding: var(--border-width);
  align-content: center;
}

.placename {
  background-color: #fff;
  border-radius: var(--inner-radius);
  padding: 4vw;
}

.placename h2 {
  font-size: 10vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.placename p {
  font-size: 5vw;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 2vw;
}

button {
  border: none;
  cursor: pointer;
}

.information-sign--wrapper {
  --information-blue: #076fb6;
  --outer-border-width: 2px;
  --outer-border-radius: 18px;
  --inner-border-width: 8px;
  --inner-border-radius: calc(var(--outer-border-radius) - var(--outer-border-width));
  --sign-border-radius: calc(var(--inner-border-radius) - var(--inner-border-width));

  background-color: var(--information-blue);
  padding: var(--outer-border-width);
  border-radius: var(--outer-border-radius);
}

.information-sign--inner {
  background-color: #fff;
  padding: var(--inner-border-width);
  border-radius: var(--inner-border-radius);
}

.information-sign {
  background-color: var(--information-blue);
  border-radius: var(--sign-border-radius);

  color:#fff;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  padding: 2vw;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.photo-attribution {
  font-size: 18px;
  background-color: #fff;
  color: #000;
  padding: 1em;

  position: fixed;
  bottom: 0;
  right: 0;
}
